*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#fff7fa;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 70px;
    background:#ff4d88;
}

nav h2{
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:60px;
}

.hero h1{
    color:#ff4d88;
    margin-bottom:15px;
}

.hero p{
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    background:#ff4d88;
    color:white;
    cursor:pointer;
}

.products{
    padding:40px;
}

.products h2{
    text-align:center;
    margin-bottom:30px;
}

#product-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    padding:15px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card img{
    width:180px;
    height:180px;
    object-fit:cover;
}

.card h3{
    margin:10px 0;
}

.card p{
    color:#666;
}

.price{
    color:#ff4d88;
    font-size:22px;
    font-weight:bold;
    margin:10px 0;
}



.about{
    width:80%;
    margin:60px auto;
    text-align:center;
}

.about h1{
    color:#ff4d88;
    font-size:40px;
    margin-bottom:20px;
}

.about p{
    font-size:18px;
    line-height:30px;
    margin-bottom:20px;
    color:#555;
}

.about h2{
    margin:30px 0 15px;
    color:#222;
}

.about ul{
    list-style:none;
    margin-bottom:30px;
}

.about ul li{
    padding:10px;
    font-size:18px;
}

.btn{
    display:inline-block;
    padding:12px 30px;
    background:#ff4d88;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#e6005c;
}